@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background_color1: #59274d;
    --background_color2: #8a2e81;
    --background_input: #eb7044;

    --background_input-darker: #e16234;
    --background_color1-darker: #46173a;

    --complete-color: #44b444;
}

body {
    background: linear-gradient(120deg, var(--background_color1), var(--background_color2));
    color: #FFF;
    font-family: 'Ubuntu', sans-serif;
    min-height: 100vh;
}

header, form {
    min-height: 20vh;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.3s ease-in-out;
}

form input, form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    outline: none;
    background: #FFF;
}

form button {
    color: var(--background_input);
    background: #FFF;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

form button:hover {
    background: var(--background_input-darker);
    color: #FFF;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 30%;
    list-style: none;
}

.todo {
    margin: 0.5rem;
    margin-left: -30px;
    background: #FFF;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.4s ease-in-out;
}

.todo li {
    flex: 1;
}

.trash-btn, .complete-btn {
    background: var(--background_color1-darker);
    color: #FFF;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.3s ease-in-out;
}

.complete-btn {
    background: var(--complete-color)
}

.todo-item {
    padding: 0rem 0.5rem;
}

.fa-trash, .fa-check {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.fall {
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}

.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

select {
    color: var(--background_color1-darker);
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
    font-weight: 700;
}

.select::after {
    content: "\25BC";
    position: absolute;
    background: var(--background_color1-darker);
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.2s ease-in-out; 
}

.select:hover::after {
    background: #FFF;
    color: var(--background_color1-darker);
}